*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    position: relative;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 80px;

    /* position: absolute; */
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
}
.header__left i,
.header__left span{
    font-size: 32px;
}
.header__right ul{
    display: flex;
    justify-content: space-between;
    gap: 100px;
    list-style-type: none;
}
.header__right ul li{
    font-size: 16px;
}
.header__right ul li:nth-child(1) {
    color: red;
}
.header__right ul li:hover {
    color: red;
    cursor: pointer;
}
/* INTRO */
.intro {
    height: 100vh;
    background-image: url(./image-video/home_slider.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.intro .title{
    font-size: 24px;
    color: white;

}
.intro .body-content{
    font-size: 4rem;
    color: white;
}
.intro .btn{
    background-color: rgb(230, 43, 74);
    padding: 30px 60px;
    border: none;
    border-radius: 10px;
    color: white;
    margin-top: 20px;
}
.intro__chevron {
    animation-name: godown;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-delay: 0s;
    animation-iteration-count: infinite;
}
.intro__chevron i{
    font-size: 20px;
    color: white;
}
@keyframes godown {
    0% {
        opacity: 1;
        transform: translate(0, 0);
    }
    100% {
        opacity: 0.3;
        transform: translate(0, 50px);
    }
}
/* SERVICE */
.service {
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
    align-items: center;
}
.service .title{
    color: rgb(230, 43, 74);
    font-size: 16px;
}
.service .body-content{
    font-size: 3rem;
    color: white;
}
.service .desc{
    color: #888;
}
.service .autoplay .autoplay-item {
    background-color: white;
    height: 100%;
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.service .autoplay .autoplay-edge {
    height: 300px;
}
